name: Integration

on:
  pull_request:
    types: [labeled, synchronize]
  pull_request_review:
    types: [submitted]
  workflow_dispatch:

jobs:
  precheck:
    runs-on: ubuntu-latest
    if: >-
      (
        (
          github.event.action == 'labeled'
          && contains(github.event.label.description, 'triggers_workflow')
          && contains(github.event.label.description, github.workflow)
        )
        || (
          github.event.action == 'submitted'
          && github.event.review.state == 'APPROVED'
        )
        || github.event.action == 'synchronize'
        || !contains(github.event_name, 'pull_request')
      )
    outputs:
      is-pr-approved: ${{ steps.check-pr-approval.outputs.is-approved }}
      workflow-trigger: ${{ steps.set-outputs.outputs.workflow-trigger }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/display-debug-info
      - id: check-pr-approval
        uses: ./.github/actions/check-if-approved
        if: contains(github.event_name, 'pull_request')
        with:
          number: ${{ github.event.pull_request.number }}
      - name: Show precheck output
        run: |
          jq . <<EOF
          ${{ toJSON(steps) }}
          EOF
          echo "steps.check-pr-approval.outputs.is-approved=${{ steps.check-pr-approval.outputs.is-approved }}"
      - id: set-outputs
        name: Set outputs
        run: |
          is_approved="${{ steps.check-pr-approval.outputs.is-approved }}"

          if [ ${{ contains(github.event_name, 'pull_request')}} = "false" ] ; then
              workflow_trigger="not_pr"
          elif [ ${{ github.event.action }} = "labeled" ] ; then
              workflow_trigger="user_dispatch"
          elif [ $is_approved = "true" ] ; then
              workflow_trigger="approved_pr"
          elif [ $is_approved = "false" ] ; then
              workflow_trigger="unapproved_pr"
          else
              workflow_trigger="unexpected"
          fi

          echo "workflow_trigger=$workflow_trigger"
          echo "::set-output name=workflow-trigger::$workflow_trigger"
  debug_precheck:
    runs-on: ubuntu-latest
    needs: precheck
    steps:
      - name: Show precheck output
        run: |
          jq . <<EOF
          ${{ toJSON(needs.precheck.outputs) }}
          EOF
          echo "precheck.outputs.is-pr-approved=${{ needs.precheck.outputs.is-pr-approved }}"
          echo "precheck.outputs.workflow-trigger=${{ needs.precheck.outputs.workflow-trigger }}"
      - name: Test if condition
        if: >-
          (
            needs.precheck.outputs.workflow-trigger == 'user_dispatch'
            || needs.precheck.outputs.workflow-trigger == 'not_pr'
            || needs.precheck.outputs.workflow-trigger == 'approved_pr'
          )
        run: echo "If I'm running, the main job should be running as well"
  debug_label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/display-debug-info
      - name: Test label condition
        if: >-
          (
            github.event.action == 'labeled'
            && contains(github.event.label.description, 'triggers_workflow')
            && contains(github.event.label.description, github.workflow)
          )
        run: echo "${{ github.event.label.description }}"
#
  my_job:
    runs-on: ubuntu-latest
    needs: [precheck]
    if: >-
      (
        needs.precheck.outputs.workflow-trigger == 'user_dispatch'
        || needs.precheck.outputs.workflow-trigger == 'not_pr'
        || needs.precheck.outputs.workflow-trigger == 'approved_pr'
      )
    steps:
      - name: Wait a bit
        run: sleep 60; echo "Done!"
